# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: <br>1. Python 2. R<br> 3. C++ <br>4. Julia<br> 5. Scala <br>6. SQL <br>and many more

Some of the commonly used libraries used by Data Scientists include: <br>1. Python 2. R<br> 3. C++ <br>4. Julia<br> 5. Scala <br>6. SQL <br>and many more

|Data Science Tools |
| :-- | 
| Jupyter Notebooks |
| R Studio |
| Zepplin |
| JupyterLab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
a = (3 * 4) +5
print(a)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.

mins=200
hrs = int(mins/60)
mn = mins%60
print(mins , "minutes are", hrs , "hours", mn,  "minutes"  )

200 minutes are 3 hours 20 minutes

**Objectives:**
* List popular languages for Data Science
* List of popular tools for Data Science
* Examples for evaluating arithmetic expressions in Python

## Author
Sina Patel